.square {
  width: 500px;
  height: 500px;
  background-color: pink;
  color: red;
  border: 1px solid blue;
  outline: 1px dashed yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
