.square {
  min-width: 100px;
  height: 500px;
  width: 90vw;
  max-width: 500px;
  background-color: pink;
  color: red;
  border: 1px solid blue;
  outline: 1px dashed yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}
